@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Urbanist:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.direction {
  direction: rtl;
}

@media (max-width: 75rem) {
  html {
    font-size: 68%;
  }
}

@media (max-width: 56rem) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 45rem) {
  html {
    font-size: 40%;
  }
}
